/*
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }
*/
/*
  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}
*/

/*# sourceMappingURL=velocity-theme.hacks.css.map */
