@import url(http://fonts.googleapis.com/css?family=Biryani:200,900);
/* line 3, ../sass/variables/_typography.scss */
body {
  font-family: 'Biryani', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.3;
  color: #333; }

/* line 11, ../sass/variables/_typography.scss */
a {
  color: #33c6ff;
  text-decoration: none; }
  /* line 14, ../sass/variables/_typography.scss */
  a:hover {
    color: #ff6600; }

/* line 19, ../sass/variables/_typography.scss */
p {
  margin: 0 0 15px 0; }

/* line 23, ../sass/variables/_typography.scss */
h1 {
  font-size: 34px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0; }

/* line 30, ../sass/variables/_typography.scss */
h2 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0; }
  /* line 35, ../sass/variables/_typography.scss */
  h2.element-invisible {
    display: none; }

/* line 40, ../sass/variables/_typography.scss */
h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0; }

/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_layout.scss */
.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }

/* line 17, ../sass/base/_layout.scss */
#toolbar, #admin-menu {
  display: none; }

/* line 27, ../sass/base/_layout.scss */
#admin-menu-menu a {
  font-size: 8px;
  padding: 4px 6px !important; }

/* line 38, ../sass/base/_layout.scss */
.l-region-header {
  top: 0; }

/* line 41, ../sass/base/_layout.scss */
.l-region-main {
  position: relative;
  top: 130px; }

/* line 45, ../sass/base/_layout.scss */
.l-region-footer {
  position: relative;
  top: 130px; }

/* line 51, ../sass/base/_layout.scss */
body.admin-menu .l-region-header {
  top: 0; }
/* line 57, ../sass/base/_layout.scss */
body.admin-menu .l-region-main {
  position: relative;
  top: 130px; }
/* line 64, ../sass/base/_layout.scss */
body.admin-menu .l-region-footer {
  position: relative;
  top: 130px; }

/* line 1, ../sass/base/_link-animations.scss */
a, input.form-submit, button {
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_messages.scss */
body.page-home .l-messages {
  position: absolute;
  z-index: 95;
  left: 50px;
  right: 50px;
  max-width: 800px;
  margin: 0 auto;
  top: 25px; }

/* line 13, ../sass/base/_messages.scss */
.l-messages {
  margin-bottom: 30px; }

/* line 17, ../sass/base/_messages.scss */
.messages {
  position: relative;
  background-image: none;
  border: 0;
  color: #fff;
  padding: 10px 15px 8px 15px; }
  /* line 23, ../sass/base/_messages.scss */
  .messages a {
    color: #333; }
    /* line 25, ../sass/base/_messages.scss */
    .messages a:hover {
      text-decoration: underline; }
  /* line 29, ../sass/base/_messages.scss */
  .messages a.close {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    line-height: 25px;
    border: 1px solid #fff;
    color: #fff; }
    /* line 41, ../sass/base/_messages.scss */
    .messages a.close:hover {
      background-color: #ff6600;
      text-decoration: none; }
  /* line 46, ../sass/base/_messages.scss */
  .messages.messages--status {
    background-color: rgba(100, 200, 20, 0.9); }
  /* line 49, ../sass/base/_messages.scss */
  .messages.messages--warning {
    background-color: rgba(250, 150, 10, 0.9); }
  /* line 52, ../sass/base/_messages.scss */
  .messages.messages--error {
    background-color: rgba(250, 20, 20, 0.9); }

/* line 1, ../sass/base/_panels.scss */
.panel-2col-stacked {
  margin-bottom: 30px; }
  /* line 7, ../sass/base/_panels.scss */
  .panel-2col-stacked .center-wrapper .panel-col-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 12, ../sass/base/_panels.scss */
    .panel-2col-stacked .center-wrapper .panel-col-first img {
      display: block;
      margin: 0 0 15px 0;
      width: 100%; }
  /* line 18, ../sass/base/_panels.scss */
  .panel-2col-stacked .center-wrapper .panel-col-last {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

/* line 28, ../sass/base/_panels.scss */
.panel-panel .inside {
  margin: 0 !important; }

/* line 38, ../sass/base/_panels.scss */
#homepage .center-wrapper .panel-col-first {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 43, ../sass/base/_panels.scss */
  #homepage .center-wrapper .panel-col-first img {
    display: block;
    margin: 0 0 15px 0;
    width: 100%; }
/* line 49, ../sass/base/_panels.scss */
#homepage .center-wrapper .panel-col-last {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 1, ../sass/base/_views-field-content-hack.scss */
.field-content {
  font-family: arial; }

/* line 5, ../sass/base/_views-field-content-hack.scss */
.field-content * {
  font-family: 'Biryani', sans-serif; }

/* line 1, ../sass/base/_webkit-focus-hack.scss */
:focus {
  outline-color: transparent;
  outline-style: none; }

/* line 1, ../sass/components/_add-this.scss */
.addthis_toolbox {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #fff; }
  /* line 18, ../sass/components/_add-this.scss */
  .addthis_toolbox a {
    display: block;
    padding: 0;
    float: left;
    text-align: center;
    background-color: #33c6ff;
    flex-grow: 1;
    height: 32px !important;
    border-right: 1px solid #fff; }
    /* line 27, ../sass/components/_add-this.scss */
    .addthis_toolbox a.addthis_button_print {
      border-right: 0; }
    /* line 30, ../sass/components/_add-this.scss */
    .addthis_toolbox a:hover {
      background-color: #ff6600; }
    /* line 40, ../sass/components/_add-this.scss */
    .addthis_toolbox a span {
      background-color: transparent !important;
      width: 100% !important;
      background-position: center !important; }

/* line 49, ../sass/components/_add-this.scss */
.node-type-blog-article .l-region-footer {
  margin: 0 0 32px 0; }

/* line 1, ../sass/components/_blog.scss */
.view-blog-articles.view-display-id-master_pane {
  margin-bottom: 15px; }
  /* line 4, ../sass/components/_blog.scss */
  .view-blog-articles.view-display-id-master_pane .view-content .views-row {
    border-bottom: 1px solid #999;
    padding-top: 15px;
    display: block; }
    /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
    .view-blog-articles.view-display-id-master_pane .view-content .views-row:after {
      content: "";
      display: table;
      clear: both; }
    /* line 9, ../sass/components/_blog.scss */
    .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-field-blog-article-images {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      /* line 15, ../sass/components/_blog.scss */
      .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-field-blog-article-images .field-content a {
        display: block; }
        /* line 17, ../sass/components/_blog.scss */
        .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-field-blog-article-images .field-content a img {
          margin-bottom: 15px;
          width: 100%;
          display: block; }
    /* line 25, ../sass/components/_blog.scss */
    .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-title {
      margin-bottom: 15px;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: left; }
    /* line 33, ../sass/components/_blog.scss */
    .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-body {
      margin-bottom: 15px;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 40, ../sass/components/_blog.scss */
    .view-blog-articles.view-display-id-master_pane .view-content .views-row .views-field-view-node {
      margin-bottom: 15px;
      text-align: right;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
  /* line 49, ../sass/components/_blog.scss */
  .view-blog-articles.view-display-id-master_pane .view-content .views-row-last {
    border-bottom: 0; }

/* line 57, ../sass/components/_blog.scss */
#homepage .view-blog-articles.view-display-id-homepage_pane .view-content {
  margin-bottom: 15px; }
  /* line 59, ../sass/components/_blog.scss */
  #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid {
    padding: 0; }
    /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
    #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row:after {
      content: "";
      display: table;
      clear: both; }
    /* line 63, ../sass/components/_blog.scss */
    #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column-1 {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 69, ../sass/components/_blog.scss */
    #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column-2 {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 75, ../sass/components/_blog.scss */
    #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column {
      position: relative;
      margin-bottom: 4%; }
      /* line 82, ../sass/components/_blog.scss */
      #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column .views-field-field-blog-article-images img {
        display: block;
        width: 100%;
        margin: 0; }
      /* line 88, ../sass/components/_blog.scss */
      #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column .views-field-title {
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        padding: 10px 10px 8px 10px;
        background-color: rgba(255, 255, 255, 0.95); }
        /* line 95, ../sass/components/_blog.scss */
        #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column .views-field-title a {
          display: block;
          line-height: 1.3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          /* line 101, ../sass/components/_blog.scss */
          #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row .views-column .views-field-title a:hover {
            white-space: initial;
            overflow: initial;
            text-overflow: initial; }
    /* line 110, ../sass/components/_blog.scss */
    #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row-last {
      margin-bottom: 0; }
      /* line 112, ../sass/components/_blog.scss */
      #homepage .view-blog-articles.view-display-id-homepage_pane .view-content .views-responsive-grid .views-row-last .views-column-last {
        margin-bottom: 0; }
/* line 124, ../sass/components/_blog.scss */
#homepage .view-blog-articles.view-display-id-homepage_pane .view-footer a {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  line-height: 55px;
  width: 50%;
  border-radius: 5px;
  border-bottom: 2px solid #0093cc;
  padding: 0 10px;
  color: #fff;
  background-color: #33c6ff; }
  /* line 136, ../sass/components/_blog.scss */
  #homepage .view-blog-articles.view-display-id-homepage_pane .view-footer a:hover {
    background-color: #ff6600;
    border-bottom: 2px solid #993d00; }

/* line 1, ../sass/components/_colorbox.scss */
#cboxOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: 99999; }

/* line 11, ../sass/components/_colorbox.scss */
#colorbox {
  z-index: 999995;
  position: fixed;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%; }

/* line 21, ../sass/components/_colorbox.scss */
#cboxContent button {
  background-color: #33c6ff;
  color: #fff;
  border: 0;
  height: 50px;
  font-size: 16px;
  line-height: 55px;
  padding: 0 10px;
  width: 80px;
  border-radius: 5px;
  border-bottom: 2px solid #0093cc; }
  /* line 32, ../sass/components/_colorbox.scss */
  #cboxContent button:hover {
    background-color: #ff6600;
    border-bottom: 2px solid #993d00; }

/* line 39, ../sass/components/_colorbox.scss */
#cboxLoadedContent {
  position: relative; }
  /* line 41, ../sass/components/_colorbox.scss */
  #cboxLoadedContent img {
    display: block; }

/* line 46, ../sass/components/_colorbox.scss */
#cboxCurrent {
  z-index: 999999;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  border: 0;
  height: 50px;
  font-size: 16px;
  line-height: 55px;
  padding: 0 10px;
  width: 80px;
  text-align: center; }

/* line 62, ../sass/components/_colorbox.scss */
#cboxPrevious {
  z-index: 999999;
  position: absolute;
  bottom: 15px;
  left: 15px; }

/* line 69, ../sass/components/_colorbox.scss */
#cboxNext {
  z-index: 999999;
  position: absolute;
  bottom: 15px;
  right: 15px; }

/* line 76, ../sass/components/_colorbox.scss */
#cboxClose {
  z-index: 999999;
  position: absolute;
  top: 15px;
  right: 15px; }

/* line 1, ../sass/components/_flexslider.scss */
.flexslider {
  border: 0;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-top: -50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75); }
  /* line 13, ../sass/components/_flexslider.scss */
  .flexslider ol.flex-control-nav {
    background-color: rgba(255, 255, 255, 0.8);
    height: 30px;
    bottom: 0;
    padding: 9px 0;
    z-index: 9; }
    /* line 19, ../sass/components/_flexslider.scss */
    .flexslider ol.flex-control-nav li {
      margin: 0 5px; }
      /* line 21, ../sass/components/_flexslider.scss */
      .flexslider ol.flex-control-nav li a {
        width: 12px;
        height: 12px;
        background-color: #33c6ff;
        box-shadow: none; }
        /* line 26, ../sass/components/_flexslider.scss */
        .flexslider ol.flex-control-nav li a.flex-active, .flexslider ol.flex-control-nav li a:hover {
          background-color: #ff6600; }

/* line 1, ../sass/components/_footer.scss */
footer.l-region-footer {
  background-color: #333; }
  /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  footer.l-region-footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 5, ../sass/components/_footer.scss */
  footer.l-region-footer .contain .l-footer {
    padding: 30px 0; }
    /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
    footer.l-region-footer .contain .l-footer:after {
      content: "";
      display: table;
      clear: both; }
    /* line 9, ../sass/components/_footer.scss */
    footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      /* line 14, ../sass/components/_footer.scss */
      footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content {
        text-align: center;
        line-height: 1.3; }
        /* line 17, ../sass/components/_footer.scss */
        footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-title {
          margin-bottom: 15px; }
          /* line 19, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-title h3 {
            margin: 0;
            color: #ff6600; }
        /* line 24, ../sass/components/_footer.scss */
        footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links {
          margin-bottom: 15px; }
          /* line 26, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links a {
            display: block; }
          /* line 29, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .facebook {
            display: inline-block;
            margin: 0 5px 10px 5px; }
            /* line 32, ../sass/components/_footer.scss */
            footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .facebook a:before {
              content: url("../images/social-icons/facebook.svg");
              width: 32px;
              height: 32px;
              display: block;
              margin: 0 auto;
              margin-bottom: 5px; }
          /* line 41, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .twitter {
            display: inline-block;
            margin: 0 5px 10px 5px; }
            /* line 44, ../sass/components/_footer.scss */
            footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .twitter a:before {
              content: url("../images/social-icons/twitter.svg");
              width: 32px;
              height: 32px;
              display: block;
              margin: 0 auto;
              margin-bottom: 5px; }
          /* line 53, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .linkedin {
            display: inline-block;
            margin: 0 5px 10px 5px; }
            /* line 56, ../sass/components/_footer.scss */
            footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .linkedin a:before {
              content: url("../images/social-icons/linkedin.svg");
              width: 32px;
              height: 32px;
              display: block;
              margin: 0 auto;
              margin-bottom: 5px; }
          /* line 65, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .googleplus {
            display: inline-block;
            margin: 0 5px 10px 5px; }
            /* line 68, ../sass/components/_footer.scss */
            footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .googleplus a:before {
              content: url("../images/social-icons/googleplus.svg");
              width: 32px;
              height: 32px;
              display: block;
              margin: 0 auto;
              margin-bottom: 5px; }
          /* line 77, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .youtube {
            display: inline-block;
            margin: 0 5px 10px 5px; }
            /* line 80, ../sass/components/_footer.scss */
            footer.l-region-footer .contain .l-footer .l-region--footer .social-links-block .block__content .social-links .youtube a:before {
              content: url("../images/social-icons/youtube.svg");
              width: 32px;
              height: 32px;
              display: block;
              margin: 0 auto;
              margin-bottom: 5px; }
    /* line 92, ../sass/components/_footer.scss */
    footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      /* line 97, ../sass/components/_footer.scss */
      footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content {
        text-align: center;
        line-height: 1.3; }
        /* line 100, ../sass/components/_footer.scss */
        footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-name {
          margin-bottom: 15px; }
          /* line 102, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-name h3 {
            margin: 0;
            color: #ff6600; }
        /* line 107, ../sass/components/_footer.scss */
        footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-address {
          margin-bottom: 15px; }
          /* line 109, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-address p {
            color: #fff;
            margin: 0; }
        /* line 114, ../sass/components/_footer.scss */
        footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-contact {
          margin-bottom: 5px; }
          /* line 116, ../sass/components/_footer.scss */
          footer.l-region-footer .contain .l-footer .l-region--footer .contact-us-block .block__content .company-contact a {
            line-height: 1.3;
            font-size: 18px;
            font-weight: 900; }
  /* line 128, ../sass/components/_footer.scss */
  footer.l-region-footer .contain .l-copyright .copyright-block .block__content {
    color: #fff;
    text-align: center;
    padding-bottom: 30px; }

/* line 1, ../sass/components/_gallery.scss */
.view-gallery {
  margin-bottom: 30px; }
  /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .view-gallery .view-content .views-responsive-grid .views-row:after {
    content: "";
    display: table;
    clear: both; }
  /* line 7, ../sass/components/_gallery.scss */
  .view-gallery .view-content .views-responsive-grid .views-row .views-column-1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 16, ../sass/components/_gallery.scss */
  .view-gallery .view-content .views-responsive-grid .views-row .views-column-2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 25, ../sass/components/_gallery.scss */
  .view-gallery .view-content .views-responsive-grid .views-row .views-column-3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 35, ../sass/components/_gallery.scss */
  .view-gallery .view-content .views-responsive-grid .views-row .views-column-4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 44, ../sass/components/_gallery.scss */
  .view-gallery .view-content .views-responsive-grid .views-row .views-column {
    margin-bottom: 5%; }
    /* line 50, ../sass/components/_gallery.scss */
    .view-gallery .view-content .views-responsive-grid .views-row .views-column .views-field-field-gallery-item-img a {
      display: block; }
      /* line 52, ../sass/components/_gallery.scss */
      .view-gallery .view-content .views-responsive-grid .views-row .views-column .views-field-field-gallery-item-img a img {
        display: block;
        width: 100%; }

/* line 65, ../sass/components/_gallery.scss */
#homepage .view-gallery {
  margin: 0; }
  /* line 67, ../sass/components/_gallery.scss */
  #homepage .view-gallery .view-content {
    margin-bottom: 15px; }
    /* line 69, ../sass/components/_gallery.scss */
    #homepage .view-gallery .view-content .views-responsive-grid {
      padding: 0; }
      /* line 13, ../../../../../../../../lib/gems/1.9.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
      #homepage .view-gallery .view-content .views-responsive-grid .views-row:after {
        content: "";
        display: table;
        clear: both; }
      /* line 73, ../sass/components/_gallery.scss */
      #homepage .view-gallery .view-content .views-responsive-grid .views-row .views-column-1 {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 79, ../sass/components/_gallery.scss */
      #homepage .view-gallery .view-content .views-responsive-grid .views-row .views-column-2 {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; }
      /* line 85, ../sass/components/_gallery.scss */
      #homepage .view-gallery .view-content .views-responsive-grid .views-row .views-column {
        margin-bottom: 4%; }
        /* line 91, ../sass/components/_gallery.scss */
        #homepage .view-gallery .view-content .views-responsive-grid .views-row .views-column .views-field-field-gallery-item-img img {
          display: block;
          width: 100%; }
      /* line 98, ../sass/components/_gallery.scss */
      #homepage .view-gallery .view-content .views-responsive-grid .views-row-last {
        margin-bottom: 0; }
        /* line 100, ../sass/components/_gallery.scss */
        #homepage .view-gallery .view-content .views-responsive-grid .views-row-last .views-column-last {
          margin-bottom: 0; }
  /* line 112, ../sass/components/_gallery.scss */
  #homepage .view-gallery .view-footer a {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 55px;
    width: 50%;
    border-radius: 5px;
    border-bottom: 2px solid #0093cc;
    padding: 0 10px;
    color: #fff;
    background-color: #33c6ff; }
    /* line 124, ../sass/components/_gallery.scss */
    #homepage .view-gallery .view-footer a:hover {
      background-color: #ff6600;
      border-bottom: 2px solid #993d00; }

/* line 3, ../sass/components/_homepage-feed-h2.scss */
#homepage .pane-blog-articles-homepage-pane h2.pane-title, #homepage .pane-gallery-homepage-pane h2.pane-title {
  text-align: center;
  background-color: #ff6600;
  color: #fff;
  padding: 10px 10px 5px 10px; }

/* line 1, ../sass/components/_masquerade.scss */
.block--masquerade {
  z-index: 100;
  position: fixed;
  right: -265px;
  top: 480px;
  background-color: #ff6600;
  padding: 10px;
  width: 270px;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
  border: 1px solid #fff;
  border-radius: 10px 0 0 10px; }
  /* line 16, ../sass/components/_masquerade.scss */
  .block--masquerade:before {
    content: 'Masquerade';
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
    left: -50px;
    font-size: 12px;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    color: #ff6600;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
    opacity: 1; }
  /* line 35, ../sass/components/_masquerade.scss */
  .block--masquerade:hover {
    right: 0; }
    /* line 37, ../sass/components/_masquerade.scss */
    .block--masquerade:hover:before {
      opacity: 0; }
  /* line 41, ../sass/components/_masquerade.scss */
  .block--masquerade h2.block__title {
    color: #fff;
    margin: 0; }
  /* line 47, ../sass/components/_masquerade.scss */
  .block--masquerade .block__content form .container-inline {
    display: block;
    margin-bottom: 5px; }
    /* line 50, ../sass/components/_masquerade.scss */
    .block--masquerade .block__content form .container-inline .form-type-textfield {
      margin: 0;
      display: inline-block; }
      /* line 53, ../sass/components/_masquerade.scss */
      .block--masquerade .block__content form .container-inline .form-type-textfield #autocomplete {
        padding: 0;
        border: 1px solid #999; }
        /* line 56, ../sass/components/_masquerade.scss */
        .block--masquerade .block__content form .container-inline .form-type-textfield #autocomplete li {
          padding: 5px; }
      /* line 60, ../sass/components/_masquerade.scss */
      .block--masquerade .block__content form .container-inline .form-type-textfield input.form-text {
        border: 0;
        padding: 2px 5px 0 5px;
        background-image: none;
        height: 30px;
        width: 180px; }
    /* line 68, ../sass/components/_masquerade.scss */
    .block--masquerade .block__content form .container-inline input.form-submit {
      height: 30px;
      width: 50px;
      line-height: 16px;
      padding-top: 3px;
      display: inline-block; }
      /* line 74, ../sass/components/_masquerade.scss */
      .block--masquerade .block__content form .container-inline input.form-submit:hover {
        background-color: #0093cc;
        border-bottom: 2px solid #004a66; }
  /* line 80, ../sass/components/_masquerade.scss */
  .block--masquerade .block__content form .form-item {
    margin: 0; }
    /* line 82, ../sass/components/_masquerade.scss */
    .block--masquerade .block__content form .form-item .description {
      color: #fff; }
      /* line 84, ../sass/components/_masquerade.scss */
      .block--masquerade .block__content form .form-item .description a {
        color: #333; }
        /* line 86, ../sass/components/_masquerade.scss */
        .block--masquerade .block__content form .form-item .description a:hover {
          text-decoration: underline; }
      /* line 90, ../sass/components/_masquerade.scss */
      .block--masquerade .block__content form .form-item .description #quick_switch_links {
        margin-top: 5px; }
        /* line 92, ../sass/components/_masquerade.scss */
        .block--masquerade .block__content form .form-item .description #quick_switch_links ul {
          margin: 0; }

/* line 1, ../sass/components/_navigation.scss */
.l-region-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -10px 20px 10px rgba(0, 0, 0, 0.75);
  height: 100px;
  padding: 10px 0; }
  /* line 12, ../sass/components/_navigation.scss */
  .l-region-header .l-logo {
    float: left; }
    /* line 14, ../sass/components/_navigation.scss */
    .l-region-header .l-logo a {
      display: block; }
      /* line 16, ../sass/components/_navigation.scss */
      .l-region-header .l-logo a img {
        display: block;
        height: 80px; }
  /* line 24, ../sass/components/_navigation.scss */
  .l-region-header .l-nav .block--system-main-menu ul.menu {
    display: block;
    margin: 0;
    padding: 0;
    float: right; }
    /* line 29, ../sass/components/_navigation.scss */
    .l-region-header .l-nav .block--system-main-menu ul.menu li.leaf {
      list-style: none;
      float: left; }
      /* line 32, ../sass/components/_navigation.scss */
      .l-region-header .l-nav .block--system-main-menu ul.menu li.leaf a {
        display: block;
        height: 80px;
        line-height: 80px;
        padding: 0 10px; }
        /* line 37, ../sass/components/_navigation.scss */
        .l-region-header .l-nav .block--system-main-menu ul.menu li.leaf a.active, .l-region-header .l-nav .block--system-main-menu ul.menu li.leaf a.active-trail, .l-region-header .l-nav .block--system-main-menu ul.menu li.leaf a:hover {
          color: #ff6600; }
    /* line 43, ../sass/components/_navigation.scss */
    .l-region-header .l-nav .block--system-main-menu ul.menu li.last a {
      padding-right: 0; }

/* line 2, ../sass/components/_pager.scss */
ul.pager .pager__item--current {
  color: #ff6600; }

/* line 2, ../sass/components/_responsive-navigation.scss */
#sidr-wrapper-0 {
  float: right;
  padding: 10px 0; }
  /* line 5, ../sass/components/_responsive-navigation.scss */
  #sidr-wrapper-0 a#sidr-0-button {
    display: block;
    height: 60px;
    width: 60px;
    background-color: #33c6ff;
    color: #fff;
    border-radius: 50%;
    line-height: 65px;
    text-align: center; }
    /* line 14, ../sass/components/_responsive-navigation.scss */
    #sidr-wrapper-0 a#sidr-0-button:hover {
      background-color: #ff6600; }

/* line 22, ../sass/components/_responsive-navigation.scss */
body.admin-menu #sidr-0 {
  top: 0; }

/* line 30, ../sass/components/_responsive-navigation.scss */
#sidr-0 {
  z-index: 9999;
  box-shadow: none;
  background-color: #333;
  -webkit-box-shadow: -10px 1px 20px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 1px 20px 10px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 1px 20px 10px rgba(0, 0, 0, 0.75);
  border-right: 1px solid #333; }
  /* line 38, ../sass/components/_responsive-navigation.scss */
  #sidr-0 .sidr-inner {
    padding: 0; }
    /* line 40, ../sass/components/_responsive-navigation.scss */
    #sidr-0 .sidr-inner .sidr-class-contextual-links-wrapper {
      display: none; }
    /* line 43, ../sass/components/_responsive-navigation.scss */
    #sidr-0 .sidr-inner ul.sidr-class-menu {
      border-top: 0;
      border-bottom: 0;
      margin: 0; }
      /* line 50, ../sass/components/_responsive-navigation.scss */
      #sidr-0 .sidr-inner ul.sidr-class-menu li.sidr-class-leaf {
        border-top: 0;
        border-bottom: 0; }
        /* line 53, ../sass/components/_responsive-navigation.scss */
        #sidr-0 .sidr-inner ul.sidr-class-menu li.sidr-class-leaf a {
          font-family: 'Biryani', sans-serif;
          font-size: 16px;
          display: block;
          background-color: #33c6ff;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #333; }
          /* line 61, ../sass/components/_responsive-navigation.scss */
          #sidr-0 .sidr-inner ul.sidr-class-menu li.sidr-class-leaf a:hover, #sidr-0 .sidr-inner ul.sidr-class-menu li.sidr-class-leaf a.sidr-class-active {
            background-color: #ff6600;
            box-shadow: none; }

/* line 1, ../sass/components/_statement-with-cta.scss */
.statement-with-cta {
  color: #ff6600;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 30px 0;
  text-align: center;
  font-size: 4.5vw;
  line-height: 5.4vw; }
  /* line 21, ../sass/components/_statement-with-cta.scss */
  .statement-with-cta .core-message {
    margin-bottom: 15px; }
  /* line 24, ../sass/components/_statement-with-cta.scss */
  .statement-with-cta .cta {
    color: #333; }

/* line 29, ../sass/components/_statement-with-cta.scss */
a.button {
  display: block;
  height: 50px;
  line-height: 40px;
  width: 32vw;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 0 10px;
  background-color: #33c6ff;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border-bottom: 2px solid #0093cc; }
  /* line 51, ../sass/components/_statement-with-cta.scss */
  a.button:hover {
    background-color: #ff6600;
    border-bottom: 2px solid #993d00; }

/* line 1, ../sass/components/_tabs.scss */
ul.tabs {
  z-index: 999;
  position: fixed;
  margin: 0;
  border: 0;
  left: 0;
  padding-right: 155px;
  height: 20px;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%); }
  /* line 21, ../sass/components/_tabs.scss */
  ul.tabs li {
    margin: 0 1px 0 0;
    float: right;
    height: 100%;
    line-height: 20px; }
    /* line 33, ../sass/components/_tabs.scss */
    ul.tabs li.active a, ul.tabs li:hover a {
      background-color: #ff6600; }
    /* line 37, ../sass/components/_tabs.scss */
    ul.tabs li a {
      padding: 0 10px;
      background-color: #33c6ff;
      color: #fff;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      height: 20px;
      line-height: 25px;
      font-size: 12px; }

/* line 2, ../sass/components/_views-no-results.scss */
#homepage .view-empty {
  text-align: center; }

/* line 2, ../sass/components/_webform.scss */
#webform .pane-page-title {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 5, ../sass/components/_webform.scss */
#webform .pane-node-webform {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both; }
  /* line 16, ../sass/components/_webform.scss */
  #webform .pane-node-webform .form-item {
    width: 100%; }
    /* line 18, ../sass/components/_webform.scss */
    #webform .pane-node-webform .form-item label {
      width: 100%; }
    /* line 21, ../sass/components/_webform.scss */
    #webform .pane-node-webform .form-item input {
      width: 100%;
      border: 1px solid #999; }
  /* line 26, ../sass/components/_webform.scss */
  #webform .pane-node-webform .grippie {
    background-color: #999;
    border: 1px solid #999;
    border-top: 0; }
  /* line 31, ../sass/components/_webform.scss */
  #webform .pane-node-webform .form-actions {
    text-align: center;
    margin-bottom: 30px; }

/* line 38, ../sass/components/_webform.scss */
input.form-submit {
  background-color: #33c6ff;
  border: 0;
  height: 50px;
  line-height: 55px;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  border-bottom: 2px solid #0093cc; }
  /* line 47, ../sass/components/_webform.scss */
  input.form-submit:hover {
    background-color: #ff6600;
    border-bottom: 2px solid #993d00; }

/*# sourceMappingURL=velocity-theme.no-query.css.map */
