.addthis_toolbox {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-top: 1px solid $c-white;
  @include breakpoint ($desk) {
    top: 185px;
    right: 8px;
    left: auto;
    width: auto;
    display: block;
    border-top: 0;
  }
  a {
    display: block;
    padding: 0;
    float: left;
    text-align: center;
    background-color: $c-secondary;
    flex-grow: 1;
    height: 32px !important;
    border-right: 1px solid $c-white;
    &.addthis_button_print {
        border-right: 0;
      }
    &:hover {
      background-color: $c-primary;
    }
    @include breakpoint ($desk) {
      clear: left;
      border-right: 0;
      width: 32px !important;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    span {
      background-color: transparent !important;
      width: 100% !important;
      background-position: center !important;
    }
  }
}

.node-type-blog-article {
  .l-region-footer {
    margin: 0 0 32px 0;
  }
}
@include breakpoint ($desk) {
.node-type-blog-article {
    .l-region-footer {
      margin: 0;
    }
  }
}