.view-blog-articles.view-display-id-master_pane {
  margin-bottom: 15px;
  .view-content {
    .views-row {
      @include clearfix;
      border-bottom: 1px solid $c-grey;
      padding-top: 15px;
      display: block;
      .views-field-field-blog-article-images {
        @include grid-span (12,1);
        @include breakpoint ($tab) {
          @include grid-span (4,1);
        }
        .field-content {
          a {
            display: block;
            img {
              margin-bottom: 15px;
              width: 100%;
              display: block;
            }
          }
        }
      }
      .views-field-title {
        margin-bottom: 15px;
        @include grid-span (12,1);
        clear: left;
        @include breakpoint ($tab) {
          @include grid-span (8,5);
        }
      }
      .views-field-body {
        margin-bottom: 15px;
        @include grid-span (12,1);
        @include breakpoint ($tab) {
          @include grid-span (8,5);
        }
      }
      .views-field-view-node {
        margin-bottom: 15px;
        text-align: right;
        @include grid-span (12,1);
        @include breakpoint ($tab) {
          @include grid-span (8,5);
        }
      }
    }
    .views-row-last {
      border-bottom: 0;
    }
  }
}

#homepage {
  .view-blog-articles.view-display-id-homepage_pane {
    .view-content {
      margin-bottom: 15px;
      .views-responsive-grid {
        padding: 0;
        .views-row {
          @include clearfix;
          .views-column-1 {
            @include grid-span (12,1);
            @include breakpoint ($desk) {
              @include grid-span (6,1);
            }
          }
          .views-column-2 {
            @include grid-span (12,1);
            @include breakpoint ($desk) {
              @include grid-span (6,7);
            }
          }
          .views-column {
            position: relative;
            margin-bottom: 4%;
            @include breakpoint ($desk) {
              margin-bottom: 3%;
            }
            .views-field-field-blog-article-images {
              img {
                display: block;
                width: 100%;
                margin: 0;
              }
            }
            .views-field-title {
              position: absolute;
              bottom: 5px;
              left: 5px;
              right: 5px;
              padding: 10px 10px 8px 10px;
              background-color: rgba(255,255,255,0.95);
              a {
                display: block;
                line-height: 1.3;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                  white-space: initial;
                  overflow: initial;
                  text-overflow: initial;
                }
              }
            }
          }
        }
        .views-row-last {
          margin-bottom: 0;
          .views-column-last {
            margin-bottom: 0;
          }
          @include breakpoint ($desk) {
            .views-column {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .view-footer {
      a {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 50px;
        line-height: 55px;
        width: 50%;
        border-radius: 5px;
        border-bottom: 2px solid darken($c-secondary, 20);
        padding: 0 10px;
        color: $c-white;
        background-color: $c-secondary;
        &:hover {
          background-color: $c-primary;
          border-bottom: 2px solid darken($c-primary, 20);
        }
      }
    }
  }
}