#cboxOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $c-black;
  z-index: 99999;
}

#colorbox {
  z-index: 999995;
  position: fixed;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
}

#cboxContent {
  button {
    background-color: $c-secondary;
    color: $c-white;
    border: 0;
    height: 50px;
    font-size: 16px;
    line-height: 55px;
    padding: 0 10px;
    width: 80px;
    border-radius: 5px;
    border-bottom: 2px solid darken($c-secondary, 20);
    &:hover {
      background-color: $c-primary;
      border-bottom: 2px solid darken($c-primary, 20);
    }
  }
}

#cboxLoadedContent {
  position: relative;
  img {
    display: block;
  }
}

#cboxCurrent {
  z-index: 999999;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255,255,255,0.5);
  color: $c-black;
  border: 0;
  height: 50px;
  font-size: 16px;
  line-height: 55px;
  padding: 0 10px;
  width: 80px;
  text-align: center;
}

#cboxPrevious {
  z-index: 999999;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#cboxNext {
  z-index: 999999;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#cboxClose {
  z-index: 999999;
  position: absolute;
  top: 15px;
  right: 15px;
}

