.flexslider {
  border: 0;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin-top: -50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  @include breakpoint ($wide) {
    width: 100%;
  }
  ol.flex-control-nav {
    background-color: rgba(255,255,255,0.8);
    height: 30px;
    bottom: 0;
    padding: 9px 0;
    z-index: 9;
    li {
      margin: 0 5px;
      a {
        width: 12px;
        height: 12px;
        background-color: $c-secondary;
        box-shadow: none;
        &.flex-active, &:hover {
          background-color: $c-primary;
        }
      }
    }
  }
}