footer.l-region-footer {
  background-color: $c-black;
  @include clearfix;
  .contain {
    .l-footer {
      padding: 30px 0;
      @include clearfix;
      .l-region--footer {
        .social-links-block {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,1);
          }
          .block__content {
            text-align: center;
            line-height: 1.3;
            .social-title {
              margin-bottom: 15px;
              h3 {
                margin: 0;
                color: $c-primary;
              }
            }
            .social-links {
              margin-bottom: 15px;
              a {
                display: block;
              }
              .facebook {
                display: inline-block;
                margin: 0 5px 10px 5px;
                a:before {
                  content: url('../images/social-icons/facebook.svg');
                  width: 32px;
                  height: 32px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 5px;
                }
              }
              .twitter {
                display: inline-block;
                margin: 0 5px 10px 5px;
                a:before {
                  content: url('../images/social-icons/twitter.svg');
                  width: 32px;
                  height: 32px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 5px;
                }
              }
              .linkedin {
                display: inline-block;
                margin: 0 5px 10px 5px;
                a:before {
                  content: url('../images/social-icons/linkedin.svg');
                  width: 32px;
                  height: 32px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 5px;
                }
              }
              .googleplus {
                display: inline-block;
                margin: 0 5px 10px 5px;
                a:before {
                  content: url('../images/social-icons/googleplus.svg');
                  width: 32px;
                  height: 32px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 5px;
                }
              }
              .youtube {
                display: inline-block;
                margin: 0 5px 10px 5px;
                a:before {
                  content: url('../images/social-icons/youtube.svg');
                  width: 32px;
                  height: 32px;
                  display: block;
                  margin: 0 auto;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
        .contact-us-block {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,7);
          }
          .block__content {
            text-align: center;
            line-height: 1.3;
            .company-name {
              margin-bottom: 15px;
              h3 {
                margin: 0;
                color: $c-primary;
              }
            }
            .company-address {
              margin-bottom: 15px;
              p {
                color: $c-white;
                margin: 0;
              }
            }
            .company-contact {
              margin-bottom: 5px;
              a {
                line-height: 1.3;
                font-size: 18px;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
    .l-copyright {
      .copyright-block {
        .block__content {
          color: $c-white;
          text-align: center;
          padding-bottom: 30px;
        }
      }
    }
  }
}