.view-gallery {
  margin-bottom: 30px;
  .view-content {
    .views-responsive-grid {
      .views-row {
        @include clearfix;
        .views-column-1 {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,1);
          }
          @include breakpoint ($desk) {
            @include grid-span (3,1);
          }
        }
        .views-column-2 {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,7);
          }
          @include breakpoint ($desk) {
            @include grid-span (3,4);
          }
        }
        .views-column-3 {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,1);
            clear: left;
          }
          @include breakpoint ($desk) {
            @include grid-span (3,7);
          }
        }
        .views-column-4 {
          @include grid-span (12,1);
          @include breakpoint ($tab) {
            @include grid-span (6,7);
          }
          @include breakpoint ($desk) {
            @include grid-span (3,10);
          }
        }
        .views-column {
          margin-bottom: 5%;
          @include breakpoint ($tab) {
            margin-bottom: 1.5%;
          }
          .views-field-field-gallery-item-img {
            a {
              display: block;
              img {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

#homepage {
  .view-gallery {
    margin: 0;
    .view-content {
      margin-bottom: 15px;
      .views-responsive-grid {
        padding: 0;
        .views-row {
          @include clearfix;
          .views-column-1 {
            @include grid-span (12,1);
            @include breakpoint ($desk) {
              @include grid-span (6,1);
            }
          }
          .views-column-2 {
            @include grid-span (12,1);
            @include breakpoint ($desk) {
              @include grid-span (6,7);
            }
          }
          .views-column {
            margin-bottom: 4%;
            @include breakpoint ($desk) {
              margin-bottom: 3%;
            }
            .views-field-field-gallery-item-img {
              img {
                display: block;
                width: 100%;
              }
            }
          }
        }
        .views-row-last {
          margin-bottom: 0;
          .views-column-last {
            margin-bottom: 0;
          }
          @include breakpoint ($desk) {
            .views-column {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .view-footer {
      a {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 50px;
        line-height: 55px;
        width: 50%;
        border-radius: 5px;
        border-bottom: 2px solid darken($c-secondary, 20);
        padding: 0 10px;
        color: $c-white;
        background-color: $c-secondary;
        &:hover {
          background-color: $c-primary;
          border-bottom: 2px solid darken($c-primary, 20);
        }
      }
    }
  }
}