#homepage {
  .pane-blog-articles-homepage-pane, .pane-gallery-homepage-pane {
    h2.pane-title {
      text-align: center;
      background-color: $c-primary;
      color: $c-white;
      padding: 10px 10px 5px 10px;
    }
  }
}