.block--masquerade {
  z-index: 100;
  position: fixed;
  right: -265px;
  top: 480px;
  background-color: $c-primary;
  padding: 10px;
  width: 270px;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
  border: 1px solid $c-white;
  border-radius: 10px 0 0 10px;
  &:before {
    content: 'Masquerade';
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
    left: -50px;
    font-size: 12px;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    color: $c-primary;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
    opacity: 1;
  }
  &:hover {
    right: 0;
    &:before {
      opacity: 0;
    }
  }
  h2.block__title {
    color: $c-white;
    margin: 0;
  }
  .block__content {
    form {
      .container-inline {
        display: block;
        margin-bottom: 5px;
        .form-type-textfield {
          margin: 0;
          display: inline-block;
          #autocomplete {
            padding: 0;
            border: 1px solid $c-grey;
            li {
              padding: 5px;
            }
          }
          input.form-text {
            border: 0;
            padding: 2px 5px 0 5px;
            background-image: none;
            height: 30px;
            width: 180px;
          }
        }
        input.form-submit {
          height: 30px;
          width: 50px;
          line-height: 16px;
          padding-top: 3px;
          display: inline-block;
          &:hover {
            background-color: darken($c-secondary, 20);
            border-bottom: 2px solid darken($c-secondary, 40);
          }
        }
      }
      .form-item {
        margin: 0;
        .description {
          color: $c-white;
          a {
            color: $c-black;
            &:hover {
              text-decoration: underline;
            }
          }
          #quick_switch_links {
            margin-top: 5px;
            ul {
              margin: 0;
            }
          }
        }
      }
    }
  }
}