.l-region-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  box-shadow: 1px -10px 20px 10px rgba(0,0,0,0.75);
  height: 100px;
  padding: 10px 0;
  .l-logo {
    float: left;
    a {
      display: block;
      img {
        display: block;
        height: 80px;
      }
    }
  }
  .l-nav {
    .block--system-main-menu {
      ul.menu {
        display: block;
        margin: 0;
        padding: 0;
        float: right;
        li.leaf {
          list-style: none;
          float: left;
          a {
            display: block;
            height: 80px;
            line-height: 80px;
            padding: 0 10px;
            &.active, &.active-trail, &:hover {
              color: $c-primary;
            }
          }
        }
        li.last {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}