//the button
#sidr-wrapper-0 {
  float: right;
  padding: 10px 0;
  a#sidr-0-button {
    display: block;
    height: 60px;
    width: 60px;
    background-color: $c-secondary;
    color: $c-white;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    &:hover {
      background-color: $c-primary;
    }
  }
}

//the menu
body.admin-menu {
  #sidr-0 {
    top: 0;
    @include breakpoint ($tab) {
      top: 21px;
    }
  }
}

#sidr-0 {
  z-index: 9999;
  box-shadow: none;
  background-color: $c-black;
  -webkit-box-shadow: -10px 1px 20px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 1px 20px 10px rgba(0,0,0,0.75);
  box-shadow: -10px 1px 20px 10px rgba(0,0,0,0.75);
  border-right: 1px solid $c-black;
  .sidr-inner {
    padding: 0;
    .sidr-class-contextual-links-wrapper {
      display: none;
    }
    ul.sidr-class-menu {
      border-top: 0;
      border-bottom: 0;
      margin: 0;
      li.sidr-class-first {

      }
      li.sidr-class-leaf {
        border-top: 0;
        border-bottom: 0;
        a {
          font-family: 'Biryani', sans-serif;
          font-size: 16px;
          display: block;
          background-color: $c-secondary;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid $c-black;
          &:hover , &.sidr-class-active{
            background-color: $c-primary;
            box-shadow: none;
          }

        }
      }
      li.sidr-class-last {

      }
    }
  }
}