.statement-with-cta {
  color: $c-primary;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 30px 0;
  text-align: center;
  font-size: 4.5vw;
  line-height: 5.4vw;
  @include breakpoint ($tab) {
    font-size: 3.75vw;
    line-height: 4.5vw;
  }
  @include breakpoint ($desk) {
    font-size: 2.75vw;
    line-height: 3.3vw;
  }
  @include breakpoint ($wide) {
    font-size: 40px;
    line-height: 48px;
  }
  .core-message {
    margin-bottom: 15px;
  }
  .cta {
    color: $c-black;
  }
}

a.button {
  display: block;
  height: 50px;
  line-height: 40px;
  width: 32vw;
  @include breakpoint ($tab) {
    width: 25vw;
  }
  @include breakpoint ($desk) {
    width: 20vw;
  }
  @include breakpoint ($wide) {
    width: 300px;
  }
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 0 10px;
  background-color: $c-secondary;
  color: $c-white;
  margin-bottom: 15px;
  border-radius: 5px;
  border-bottom: 2px solid darken($c-secondary, 20);
  &:hover {
    background-color: $c-primary;
    border-bottom: 2px solid darken($c-primary, 20);
  }
}