ul.tabs {
  z-index: 999;
  position: fixed;
  margin: 0;
  border: 0;
  left: 0;
  padding-right: 155px;
  height: 20px;
  @include breakpoint ($tab) {
    height: 30px;
  }
  @include breakpoint ($desk) {
    height: 40px;
  }
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
  li {
    margin: 0 1px 0 0;
    float: right;
    height: 100%;
    line-height: 20px;
    @include breakpoint ($tab) {
      line-height: 30px;
    }
    @include breakpoint ($desk) {
      line-height: 40px;
    }
    &.active, &:hover {
      a {
        background-color: $c-primary;
      }
    }
    a {
      padding: 0 10px;
      background-color: $c-secondary;
      color: $c-white;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      height: 20px;
      line-height: 25px;
      font-size: 12px;
      @include breakpoint ($tab) {
        height: 30px;
        line-height: 35px;
        font-size: 14px;
      }
      @include breakpoint ($desk) {
        height: 40px;
        line-height: 45px;
        font-size: 16px;
      }
    }
  }
}