#webform {
  .pane-page-title {
    @include grid-span (12,1);
  }
  .pane-node-webform {
    @include grid-span (12,1);
    clear: both;
    @include breakpoint ($tab) {
      @include grid-span (8,3);
      clear: both;
    }
    @include breakpoint ($desk) {
      @include grid-span (6,4);
      clear: both;
    }
    .form-item {
      width: 100%;
      label {
        width: 100%;
      }
      input {
        width: 100%;
        border: 1px solid $c-grey;
      }
    }
    .grippie {
      background-color: $c-grey;
      border: 1px solid $c-grey;
      border-top: 0;
    }
    .form-actions {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

input.form-submit {
  background-color: $c-secondary;
  border: 0;
  height: 50px;
  line-height: 55px;
  color: $c-white;
  padding: 0 10px;
  border-radius: 5px;
  border-bottom: 2px solid darken($c-secondary, 20);
  &:hover {
    background-color: $c-primary;
    border-bottom: 2px solid darken($c-primary, 20);
  }
}