@import url(http://fonts.googleapis.com/css?family=Biryani:200,900);

body {
  font-family: 'Biryani', sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.3;
  color: $c-black;
}

a {
  color: $c-secondary;
  text-decoration: none;
  &:hover {
    color: $c-primary;
  }
}

p {
  margin: 0 0 15px 0;
}

h1 {
  font-size: 34px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0;
}

h2 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0;
  &.element-invisible {
    display: none;
  }
}

h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0 0 15px 0;
}