//keeps containers centred, padded and responding
.contain {
  @include add-grid ($grids);
  @include add-gutter ($gutters);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  @include breakpoint ($tab) {
    padding: 0 40px;
  }
  @include breakpoint ($desk) {
    padding: 0 50px;
  }
}

//turns toolbar on at tab breakpoint
#toolbar, #admin-menu {
  display: none;
  @include breakpoint ($tab) {
    display: block;
    z-index: 999;
  }
}

//enlarges admin menu font size for desktop
#admin-menu-menu {
  a {
    font-size: 8px;
    padding: 4px 6px !important;
    @include breakpoint ($desk) {
      font-size: 10px;
      padding: 4px 8px !important;
    }
  }
}

//changes position of header region and main region depending on breakpoint
.l-region-header {
  top: 0;
}
.l-region-main {
  position: relative;
  top: 130px;
}
.l-region-footer {
  position: relative;
  top: 130px;
}

body.admin-menu {
  .l-region-header {
    top: 0;
    @include breakpoint ($tab) {
      top: 21px;
    }
  }
  .l-region-main {
    position: relative;
    top: 130px;
    @include breakpoint ($tab) {
      top: 151px;
    }
  }
  .l-region-footer {
    position: relative;
    top: 130px;
    @include breakpoint ($tab) {
      top: 151px;
    }
  }
}