body.page-home {
  .l-messages {
    position: absolute;
    z-index: 95;
    left: 50px;
    right: 50px;
    max-width: 800px;
    margin: 0 auto;
    top: 25px;
  }
}

.l-messages {
  margin-bottom: 30px;
}

.messages {
  position: relative;
  background-image: none;
  border: 0;
  color: $c-white;
  padding: 10px 15px 8px 15px;
  a {
    color: $c-black;
    &:hover {
      text-decoration: underline;
    }
  }
  a.close {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $c-black;
    text-align: center;
    line-height: 25px;
    border: 1px solid $c-white;
    color: $c-white;
    &:hover {
      background-color: $c-primary;
      text-decoration: none;
    }
  }
  &.messages--status {
    background-color: rgba(100,200,20,0.9);
  }
  &.messages--warning {
    background-color: rgba(250,150,10,0.9);
  }
  &.messages--error {
    background-color: rgba(250,20,20,0.9);
  }
}