.panel-2col-stacked {
  margin-bottom: 30px;
  .panel-col-top {

  }
  .center-wrapper {
    .panel-col-first {
      @include grid-span (12,1);
      @include breakpoint ($tab) {
        @include grid-span (4,1);
      }
      img {
        display: block;
        margin: 0 0 15px 0;
        width: 100%;
      }
    }
    .panel-col-last {
      @include grid-span (12,1);
      @include breakpoint ($tab) {
        @include grid-span (8,5);
      }
    }
  }
}

.panel-panel {
  .inside {
    margin: 0 !important;
  }
}

#homepage {
  .panel-col-top {

  }
  .center-wrapper {
    .panel-col-first {
      @include grid-span (12,1);
      @include breakpoint ($tab) {
        @include grid-span (6,1);
      }
      img {
        display: block;
        margin: 0 0 15px 0;
        width: 100%;
      }
    }
    .panel-col-last {
      @include grid-span (12,1);
      @include breakpoint ($tab) {
        @include grid-span (6,7);
      }
    }
  }
}